body {
    background: linear-gradient(178deg, #000000, #b4afaf);
    background-size: 400% 400%;
    -webkit-animation: darkcss 0s ease infinite;
    -moz-animation: darkcss 0s ease infinite;
    animation: darkcss 0s ease infinite;
}

;

@-webkit-keyframes darkcss {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes darkcss {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes darkcss {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

.last-update{
    color:white;
    text-align: center;
}
.navbar{
    background-color: #000000;
    color: white;
}
h2 {
    color: white;
}
.opening h1 {
    color: white;
}

.emot-img-size img {
    height: 130px;
    width: 120px;
}

.card-text {
    color: white;
}
.new-update {
    color:white;
}
.bg-black{
    background-color: #FF000000;
}
.card {
    border-color: #FF8888;
    border-style: none;
}

.positif-header{
    background-color:#3f9fff
}
/* warna keterangan global */
.positif-global {
    color: rgb(255, 166, 0);
}

.meninggal-global{
    color: rgb(245, 81, 81);
}

.sembuh-global {
    color: rgb(72, 255, 72);
}
/* akhir keterangan global */
/* warna keterangan Indonesia */
.positif-indo {
    color: rgb(255, 166, 0);
}

.meninggal-indo{
    color: rgb(245, 81, 81);
}

.sembuh-indo {
    color: rgb(72, 255, 72);
}
.color-positif {
    color: rgb(255, 166, 0);
}

.color-meninggal{
    color: rgb(245, 81, 81);
}

.color-sembuh {
    color: rgb(72, 255, 72);
}
/* akhir keterangan global */

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

footer h4{
    height:50px;
    padding-top: 10px;
}